@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = MVCFunctions.GetWebRootPath();
}

	@foreach (string _item1_menulink in Model.GetSection("item1_menulink", this)){
	<OPTION @(Model.displayVar("item1_optionattrs")) @{foreach (string _item1_current in Model.GetSection("item1_current", this)){@MvcHtmlString.Create(@"selected")}}>
		@(Model.displayVar("item1_nbsps"))@(Model.displayVar("item1_title"))
	</OPTION>
	}
	@foreach (string _item2_menulink in Model.GetSection("item2_menulink", this)){
	<OPTION @(Model.displayVar("item2_optionattrs")) @{foreach (string _item2_current in Model.GetSection("item2_current", this)){@MvcHtmlString.Create(@"selected")}}>
		@(Model.displayVar("item2_nbsps"))@(Model.displayVar("item2_title"))
	</OPTION>
	}
	@foreach (string _item3_menulink in Model.GetSection("item3_menulink", this)){
	<OPTION @(Model.displayVar("item3_optionattrs")) @{foreach (string _item3_current in Model.GetSection("item3_current", this)){@MvcHtmlString.Create(@"selected")}}>
		@(Model.displayVar("item3_nbsps"))@(Model.displayVar("item3_title"))
	</OPTION>
	}
	@foreach (string _item4_menulink in Model.GetSection("item4_menulink", this)){
	<OPTION @(Model.displayVar("item4_optionattrs")) @{foreach (string _item4_current in Model.GetSection("item4_current", this)){@MvcHtmlString.Create(@"selected")}}>
		@(Model.displayVar("item4_nbsps"))@(Model.displayVar("item4_title"))
	</OPTION>
	}
	@foreach (string _item5_menulink in Model.GetSection("item5_menulink", this)){
	<OPTION @(Model.displayVar("item5_optionattrs")) @{foreach (string _item5_current in Model.GetSection("item5_current", this)){@MvcHtmlString.Create(@"selected")}}>
		@(Model.displayVar("item5_nbsps"))@(Model.displayVar("item5_title"))
	</OPTION>
	}
	@foreach (string _item6_menulink in Model.GetSection("item6_menulink", this)){
	<OPTION @(Model.displayVar("item6_optionattrs")) @{foreach (string _item6_current in Model.GetSection("item6_current", this)){@MvcHtmlString.Create(@"selected")}}>
		@(Model.displayVar("item6_nbsps"))@(Model.displayVar("item6_title"))
	</OPTION>
	}
	@foreach (string _item7_menulink in Model.GetSection("item7_menulink", this)){
	<OPTION @(Model.displayVar("item7_optionattrs")) @{foreach (string _item7_current in Model.GetSection("item7_current", this)){@MvcHtmlString.Create(@"selected")}}>
		@(Model.displayVar("item7_nbsps"))@(Model.displayVar("item7_title"))
	</OPTION>
	}
