@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = MVCFunctions.GetWebRootPath();
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
		<META http-equiv="X-UA-Compatible" content="IE=Edge" />
		<title>@(Model.displayVar("pagetitle"))</title>

		<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<LINK REL="stylesheet" href="@(webRootPath)styles/default.css" type="text/css" />
		@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
		<LINK REL="stylesheet" href="@(webRootPath)styles/defaultRTL.css" type="text/css" />
		}
		@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
		<LINK REL="stylesheet" href="@(webRootPath)@(Model.displayVar("stylepath"))" type="text/css" />
		}
		@foreach (string _pageCSSFiles in Model.GetSection("pageCSSFiles", this)){
		<LINK REL="stylesheet" href="@(webRootPath)@(Model.displayVar("pagestylepath"))" type="text/css" />
		}
	</head>
	
	<BODY class="@(Model.displayVar("stylename")) function-print" @(Model.displayVar("bodyattrs"))>
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
	<div class="rnr-page">
		<DIV class="rnr-top @(Model.displayVar("blockclass_top"))">
			

@foreach (string _container_pdf in Model.GetSection("container_pdf", this)){
<div class="rnr-c rnr-ch rnr-c-pdf">

@foreach (string _printbuttons in Model.GetSection("printbuttons", this)){
<DIV class="style1 rnr-bl rnr-b-printbuttons @(Model.displayVar("brickclass_printbuttons"))">@foreach (string _divideintopages_block in Model.GetSection("divideintopages_block", this)){
<A href="#" class="divideintopages rnr-button button" @(Model.displayVar("divideintopages_attrs"))>Prepare for printing</a>
}
</div>
}

<div class="rnr-hfiller"></div>
</div>
}



@foreach (string _container_master in Model.GetSection("container_master", this)){
<div class="rnr-c rnr-ch rnr-c-master">

@foreach (string _mastertable_block in Model.GetSection("mastertable_block", this)){
<DIV class="style1 rnr-bl rnr-b-masterinfoprint @(Model.displayVar("brickclass_masterinfoprint"))">@(Model.displayVar("showmasterfile"))
</div>
}

<div class="rnr-hfiller"></div>
</div>
}


		</div>
		<div class="rnr-middle">
			<DIV class="rnr-left @(Model.displayVar("blockclass_left"))">
				
			</div>
			<DIV class="rnr-center @(Model.displayVar("blockclass_center"))">
				

@foreach (string _container_pageheader in Model.GetSection("container_pageheader", this)){
<div class="rnr-c rnr-cv rnr-c-pageheader">

@foreach (string _printheader in Model.GetSection("printheader", this)){
<DIV class="rnr-brickcontents style1 rnr-b-printheader @(Model.displayVar("brickclass_printheader"))">	<h1>@(Model.displayVar("pagetitlelabel dbo__ABCSecurity print"))</h1>
</div>}


@foreach (string _page_number in Model.GetSection("page_number", this)){
<DIV class="rnr-brickcontents style1 rnr-b-page_of_print @(Model.displayVar("brickclass_page_of_print"))"><h1>Page <span class="rp-pageno">@(Model.displayVar("pageno"))</span> of <span class="rp-pagecount">@(Model.displayVar("pagecount"))</span></h1></div>}


</div>
}



@foreach (string _container_grid in Model.GetSection("container_grid", this)){


foreach (string _grid_block in Model.GetSection("grid_block", this)){
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	@foreach (string _grid_header in Model.GetSection("grid_header", this)){
<TR class="rnr-toprow style1 @(Model.displayVar("gridHeader_class"))">
@foreach (string _record_header in Model.GetSection("record_header", this)){
		foreach (string _username_fieldheadercolumn in Model.GetSection("username_fieldheadercolumn", this)){
<TH class="runner-cc @(Model.displayVar("username_class"))" @(Model.displayVar("username_style"))>
	@foreach (string _username_fieldheader in Model.GetSection("username_fieldheader", this)){
	<b>@(Model.displayVar("label dbo__ABCSecurity username"))</b>
	}
</th>
}
	foreach (string _password_fieldheadercolumn in Model.GetSection("password_fieldheadercolumn", this)){
<TH class="runner-cc @(Model.displayVar("password_class"))" @(Model.displayVar("password_style"))>
	@foreach (string _password_fieldheader in Model.GetSection("password_fieldheader", this)){
	<b>@(Model.displayVar("label dbo__ABCSecurity password"))</b>
	}
</th>
}
	foreach (string _byear_fieldheadercolumn in Model.GetSection("byear_fieldheadercolumn", this)){
<TH class="runner-cc @(Model.displayVar("byear_class"))" @(Model.displayVar("byear_style"))>
	@foreach (string _byear_fieldheader in Model.GetSection("byear_fieldheader", this)){
	<b>@(Model.displayVar("label dbo__ABCSecurity byear"))</b>
	}
</th>
}
	foreach (string _eyear_fieldheadercolumn in Model.GetSection("eyear_fieldheadercolumn", this)){
<TH class="runner-cc @(Model.displayVar("eyear_class"))" @(Model.displayVar("eyear_style"))>
	@foreach (string _eyear_fieldheader in Model.GetSection("eyear_fieldheader", this)){
	<b>@(Model.displayVar("label dbo__ABCSecurity eyear"))</b>
	}
</th>
}
	foreach (string _role_fieldheadercolumn in Model.GetSection("role_fieldheadercolumn", this)){
<TH class="runner-cc @(Model.displayVar("role_class"))" @(Model.displayVar("role_style"))>
	@foreach (string _role_fieldheader in Model.GetSection("role_fieldheader", this)){
	<b>@(Model.displayVar("label dbo__ABCSecurity role"))</b>
	}
</th>
}
		
	<th class="rnr-edge">&nbsp;</th>
	foreach (string _endrecordheader_block in Model.GetSection("endrecordheader_block", this)){
	<th class="rnr-cs">&nbsp;</th>
	}
	}
</tr>
}

	</thead>
	<tbody>	
	@foreach (string _grid_row in Model.GetSection("grid_row", this)){
	<TR class="rnr-row style1 @(Model.displayVar("rowclass"))" @(Model.displayVar("rowattrs")) @(Model.displayVar("rowstyle"))>
		@foreach (string _grid_record in Model.GetSection("grid_record", this)){
				foreach (string _username_fieldcolumn in Model.GetSection("username_fieldcolumn", this)){
<TD class="runner-cc @(Model.displayVar("username_class"))" @(Model.displayVar("username_style")) @(Model.displayVar("recordattrs"))>
	@(Model.displayVar("username_value"))
</td>
}
	foreach (string _password_fieldcolumn in Model.GetSection("password_fieldcolumn", this)){
<TD class="runner-cc @(Model.displayVar("password_class"))" @(Model.displayVar("password_style")) @(Model.displayVar("recordattrs"))>
	@(Model.displayVar("password_value"))
</td>
}
	foreach (string _byear_fieldcolumn in Model.GetSection("byear_fieldcolumn", this)){
<TD class="runner-cc @(Model.displayVar("byear_class"))" @(Model.displayVar("byear_style")) @(Model.displayVar("recordattrs"))>
	@(Model.displayVar("byear_value"))
</td>
}
	foreach (string _eyear_fieldcolumn in Model.GetSection("eyear_fieldcolumn", this)){
<TD class="runner-cc @(Model.displayVar("eyear_class"))" @(Model.displayVar("eyear_style")) @(Model.displayVar("recordattrs"))>
	@(Model.displayVar("eyear_value"))
</td>
}
	foreach (string _role_fieldcolumn in Model.GetSection("role_fieldcolumn", this)){
<TD class="runner-cc @(Model.displayVar("role_class"))" @(Model.displayVar("role_style")) @(Model.displayVar("recordattrs"))>
	@(Model.displayVar("role_value"))
</td>
}

		<TD class="rnr-edge" @(Model.displayVar("recordattrs"))>&nbsp;</td>
		foreach (string _endrecord_block in Model.GetSection("endrecord_block", this)){
		<TD class="rnr-cs" @(Model.displayVar("endrecordblock_attrs"))>&nbsp;</td>
		}
										
		}

	</tr>
	}


	
	</tbody>
</table>

}



}


			</div>
			<DIV class="rnr-right @(Model.displayVar("blockclass_right"))">
				
			</div>
		</div>
		<DIV class="rnr-bottom @(Model.displayVar("blockclass_bottom"))">
			
		</div>
	</div>
		
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
