@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = MVCFunctions.GetWebRootPath();
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
		<META http-equiv="X-UA-Compatible" content="IE=Edge" />
		<title>@(Model.displayVar("pagetitle"))</title>

		<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<LINK REL="stylesheet" href="@(webRootPath)styles/default.css" type="text/css" />
		@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
		<LINK REL="stylesheet" href="@(webRootPath)styles/defaultRTL.css" type="text/css" />
		}
		@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
		<LINK REL="stylesheet" href="@(webRootPath)@(Model.displayVar("stylepath"))" type="text/css" />
		}
		@foreach (string _pageCSSFiles in Model.GetSection("pageCSSFiles", this)){
		<LINK REL="stylesheet" href="@(webRootPath)@(Model.displayVar("pagestylepath"))" type="text/css" />
		}
	</head>
	
	<BODY class="@(Model.displayVar("stylename")) function-view" @(Model.displayVar("bodyattrs"))>
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
	<div class="rnr-page">
		<DIV class="rnr-top @(Model.displayVar("blockclass_top"))">
			

@foreach (string _container_all in Model.GetSection("container_all", this)){
<div class="rnr-c rnr-cv rnr-c-all">


<DIV class="rnr-brickcontents style1 rnr-b-wrapper @(Model.displayVar("wrapperclass_main")) rnr-wrapper rnr-cbw-main">

@foreach (string _container_main in Model.GetSection("container_main", this)){
<div class="rnr-c rnr-cv rnr-c-main">



<DIV class="rnr-brickcontents style1 rnr-b-wrapper @(Model.displayVar("wrapperclass_master")) rnr-wrapper rnr-cbw-master">

@foreach (string _container_master in Model.GetSection("container_master", this)){
<div class="rnr-c rnr-ch rnr-c-master">

@foreach (string _mastertable_block in Model.GetSection("mastertable_block", this)){
<DIV class="style1 rnr-bl rnr-b-masterinfo @(Model.displayVar("brickclass_masterinfo"))">@(Model.displayVar("showmasterfile"))
<A class="runner-link" @(Model.displayVar("backtomasterlink_attrs"))>
	<b>Back to @(Model.displayVar("backtomasterlink_caption"))</b>
</a></div>
}

<div class="rnr-hfiller"></div>
</div>
}

</div>



<DIV class="rnr-brickcontents style1 rnr-b-wrapper @(Model.displayVar("wrapperclass_view")) rnr-wrapper rnr-cbw-view">

@foreach (string _container_view in Model.GetSection("container_view", this)){
<div class="rnr-c rnr-cv rnr-c-view">

@foreach (string _viewheader in Model.GetSection("viewheader", this)){
<DIV class="rnr-brickcontents style2 rnr-b-viewheader @(Model.displayVar("brickclass_viewheader"))"><span>	<h1>@(Model.displayVar("pagetitlelabel dbo__ABCSecurity view"))</h1>
</span></div>}



<DIV class="rnr-brickcontents style1 rnr-b-wrapper @(Model.displayVar("wrapperclass_fields")) rnr-wrapper rnr-cbw-fields">

@foreach (string _container_fields in Model.GetSection("container_fields", this)){
<div class="rnr-c rnr-cv rnr-c-fields">


<DIV class="rnr-brickcontents style1 rnr-b-viewfields @(Model.displayVar("brickclass_viewfields"))"><table class="fieldGrid">
	@foreach (string _username_fieldblock in Model.GetSection("username_fieldblock", this)){
<TR class="@(Model.displayVar("fielddispclass_username"))" data-fieldname="username">
	<td class="rnr-label">
		@(Model.displayVar("label dbo__ABCSecurity username"))
	</td>
	<td class="rnr-control style3">
		@(Model.displayVar("username_value"))&nbsp;
	</td>
</tr>
}
	@foreach (string _password_fieldblock in Model.GetSection("password_fieldblock", this)){
<TR class="@(Model.displayVar("fielddispclass_password"))" data-fieldname="password">
	<td class="rnr-label">
		@(Model.displayVar("label dbo__ABCSecurity password"))
	</td>
	<td class="rnr-control style3">
		@(Model.displayVar("password_value"))&nbsp;
	</td>
</tr>
}
	@foreach (string _byear_fieldblock in Model.GetSection("byear_fieldblock", this)){
<TR class="@(Model.displayVar("fielddispclass_byear"))" data-fieldname="byear">
	<td class="rnr-label">
		@(Model.displayVar("label dbo__ABCSecurity byear"))
	</td>
	<td class="rnr-control style3">
		@(Model.displayVar("byear_value"))&nbsp;
	</td>
</tr>
}
	@foreach (string _eyear_fieldblock in Model.GetSection("eyear_fieldblock", this)){
<TR class="@(Model.displayVar("fielddispclass_eyear"))" data-fieldname="eyear">
	<td class="rnr-label">
		@(Model.displayVar("label dbo__ABCSecurity eyear"))
	</td>
	<td class="rnr-control style3">
		@(Model.displayVar("eyear_value"))&nbsp;
	</td>
</tr>
}
	@foreach (string _role_fieldblock in Model.GetSection("role_fieldblock", this)){
<TR class="@(Model.displayVar("fielddispclass_role"))" data-fieldname="role">
	<td class="rnr-label">
		@(Model.displayVar("label dbo__ABCSecurity role"))
	</td>
	<td class="rnr-control style3">
		@(Model.displayVar("role_value"))&nbsp;
	</td>
</tr>
}
</table></div>


@foreach (string _viewbuttons in Model.GetSection("viewbuttons", this)){
<DIV class="rnr-brickcontents style2 rnr-b-viewbuttons @(Model.displayVar("brickclass_viewbuttons"))"><div class="rnr-buttons-right">
@foreach (string _prev_button in Model.GetSection("prev_button", this)){
<A href="#" class="rnr-button @(Model.displayVar("prevbutton_class"))" @(Model.displayVar("prevbutton_attrs"))>&lt;&lt;&lt;</a>
}
@foreach (string _next_button in Model.GetSection("next_button", this)){
<A href="#" class="rnr-button @(Model.displayVar("nextbutton_class"))" @(Model.displayVar("nextbutton_attrs"))>&gt;&gt;&gt;</a>
}
</div>
<div class="rnr-buttons-left">
@foreach (string _back_button in Model.GetSection("back_button", this)){
<A href="#" class="rnr-button" @(Model.displayVar("backbutton_attrs"))>Back to list</a>
}
@foreach (string _close_button in Model.GetSection("close_button", this)){
<A href="#" class="rnr-button" @(Model.displayVar("closebutton_attrs"))>Close window</a>
}
@foreach (string _edit_page_button in Model.GetSection("edit_page_button", this)){
<A href="#" class="rnr-button" @(Model.displayVar("edit_page_button_attrs"))>Edit</a>
}
</div>
</div>}


</div>
}

</div>


</div>
}

</div>


</div>
}

</div>



</div>
}


		</div>
		<div class="rnr-middle">
			<DIV class="rnr-left @(Model.displayVar("blockclass_left"))">
				
			</div>
			<DIV class="rnr-center @(Model.displayVar("blockclass_center"))">
				
			</div>
			<DIV class="rnr-right @(Model.displayVar("blockclass_right"))">
				
			</div>
		</div>
		<DIV class="rnr-bottom @(Model.displayVar("blockclass_bottom"))">
			
		</div>
	</div>
		
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
