@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = MVCFunctions.GetWebRootPath();
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
		<META http-equiv="X-UA-Compatible" content="IE=Edge" />
		<title>@(Model.displayVar("pagetitle"))</title>

		<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<LINK REL="stylesheet" href="@(webRootPath)styles/default.css" type="text/css" />
		@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
		<LINK REL="stylesheet" href="@(webRootPath)styles/defaultRTL.css" type="text/css" />
		}
		@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
		<LINK REL="stylesheet" href="@(webRootPath)@(Model.displayVar("stylepath"))" type="text/css" />
		}
		@foreach (string _pageCSSFiles in Model.GetSection("pageCSSFiles", this)){
		<LINK REL="stylesheet" href="@(webRootPath)@(Model.displayVar("pagestylepath"))" type="text/css" />
		}
	</head>
	
	<BODY class="@(Model.displayVar("stylename")) function-search" @(Model.displayVar("bodyattrs"))>
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
	<div class="rnr-page">
		<DIV class="rnr-top @(Model.displayVar("blockclass_top"))">
			

@foreach (string _container_search in Model.GetSection("container_search", this)){
<div class="rnr-c rnr-cv rnr-c-search">

@foreach (string _searchheader in Model.GetSection("searchheader", this)){
<DIV class="rnr-brickcontents style2 rnr-b-srchheader @(Model.displayVar("brickclass_srchheader"))"><span>	<h1>@(Model.displayVar("pagetitlelabel ABC_Voting_My_Voting search"))</h1>
</span></div>}


@foreach (string _conditions_block in Model.GetSection("conditions_block", this)){
<DIV class="rnr-brickcontents style1 rnr-b-srchconditions @(Model.displayVar("brickclass_srchconditions"))">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<INPUT type="radio" class="rnr-radio-button" name="srchType@(Model.displayVar("id"))" @(Model.displayVar("all_checkbox")) /><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<INPUT type="radio" class="rnr-radio-button" name="srchType@(Model.displayVar("id"))" @(Model.displayVar("any_checkbox")) /><label for="any_checkbox"> Any condition</label>
	</center></div>}



<DIV class="rnr-brickcontents style1 rnr-b-wrapper @(Model.displayVar("wrapperclass_fields")) rnr-wrapper rnr-cbw-fields">

@foreach (string _container_fields in Model.GetSection("container_fields", this)){
<div class="rnr-c rnr-cv rnr-c-fields">


<DIV class="rnr-brickcontents style1 rnr-b-srchfields @(Model.displayVar("brickclass_srchfields"))"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_record"))">
	@foreach (string _record_fieldblock in Model.GetSection("record_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting record"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("record_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_record"))
	</td>
	<td>
		@(Model.displayVar("record_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("record_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_batch_number"))">
	@foreach (string _batch_number_fieldblock in Model.GetSection("batch_number_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting batch_number"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("batch_number_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_batch_number"))
	</td>
	<td>
		@(Model.displayVar("batch_number_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("batch_number_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_species"))">
	@foreach (string _species_fieldblock in Model.GetSection("species_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting species"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("species_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_species"))
	</td>
	<td>
		@(Model.displayVar("species_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("species_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_date_submitted"))">
	@foreach (string _date_submitted_fieldblock in Model.GetSection("date_submitted_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting date_submitted"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("date_submitted_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_date_submitted"))
	</td>
	<td>
		@(Model.displayVar("date_submitted_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("date_submitted_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_date_observed"))">
	@foreach (string _date_observed_fieldblock in Model.GetSection("date_observed_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting date_observed"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("date_observed_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_date_observed"))
	</td>
	<td>
		@(Model.displayVar("date_observed_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("date_observed_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_location"))">
	@foreach (string _location_fieldblock in Model.GetSection("location_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting location"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("location_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_location"))
	</td>
	<td>
		@(Model.displayVar("location_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("location_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_url1"))">
	@foreach (string _url1_fieldblock in Model.GetSection("url1_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting url1"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("url1_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_url1"))
	</td>
	<td>
		@(Model.displayVar("url1_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("url1_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_url2"))">
	@foreach (string _url2_fieldblock in Model.GetSection("url2_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting url2"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("url2_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_url2"))
	</td>
	<td>
		@(Model.displayVar("url2_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("url2_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_url3"))">
	@foreach (string _url3_fieldblock in Model.GetSection("url3_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting url3"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("url3_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_url3"))
	</td>
	<td>
		@(Model.displayVar("url3_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("url3_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_url4"))">
	@foreach (string _url4_fieldblock in Model.GetSection("url4_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting url4"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("url4_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_url4"))
	</td>
	<td>
		@(Model.displayVar("url4_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("url4_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_secretary_comments"))">
	@foreach (string _secretary_comments_fieldblock in Model.GetSection("secretary_comments_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting secretary_comments"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("secretary_comments_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_secretary_comments"))
	</td>
	<td>
		@(Model.displayVar("secretary_comments_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("secretary_comments_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_secretary_private_comments"))">
	@foreach (string _secretary_private_comments_fieldblock in Model.GetSection("secretary_private_comments_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting secretary_private_comments"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("secretary_private_comments_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_secretary_private_comments"))
	</td>
	<td>
		@(Model.displayVar("secretary_private_comments_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("secretary_private_comments_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_date_approved"))">
	@foreach (string _date_approved_fieldblock in Model.GetSection("date_approved_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting date_approved"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("date_approved_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_date_approved"))
	</td>
	<td>
		@(Model.displayVar("date_approved_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("date_approved_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_accept"))">
	@foreach (string _accept_fieldblock in Model.GetSection("accept_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting accept"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("accept_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_accept"))
	</td>
	<td>
		@(Model.displayVar("accept_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("accept_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_nonaccept"))">
	@foreach (string _nonaccept_fieldblock in Model.GetSection("nonaccept_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting nonaccept"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("nonaccept_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_nonaccept"))
	</td>
	<td>
		@(Model.displayVar("nonaccept_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("nonaccept_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_status"))">
	@foreach (string _status_fieldblock in Model.GetSection("status_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting status"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("status_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_status"))
	</td>
	<td>
		@(Model.displayVar("status_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("status_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_originalObserver"))">
	@foreach (string _originalObserver_fieldblock in Model.GetSection("originalObserver_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting originalObserver"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("originalObserver_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_originalObserver"))
	</td>
	<td>
		@(Model.displayVar("originalObserver_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("originalObserver_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_submittedby"))">
	@foreach (string _submittedby_fieldblock in Model.GetSection("submittedby_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting submittedby"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("submittedby_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_submittedby"))
	</td>
	<td>
		@(Model.displayVar("submittedby_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("submittedby_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_additionalObservers"))">
	@foreach (string _additionalObservers_fieldblock in Model.GetSection("additionalObservers_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting additionalObservers"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("additionalObservers_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_additionalObservers"))
	</td>
	<td>
		@(Model.displayVar("additionalObservers_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("additionalObservers_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_numberObserved"))">
	@foreach (string _numberObserved_fieldblock in Model.GetSection("numberObserved_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting numberObserved"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("numberObserved_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_numberObserved"))
	</td>
	<td>
		@(Model.displayVar("numberObserved_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("numberObserved_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_countyCode"))">
	@foreach (string _countyCode_fieldblock in Model.GetSection("countyCode_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting countyCode"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("countyCode_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_countyCode"))
	</td>
	<td>
		@(Model.displayVar("countyCode_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("countyCode_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_beginDate"))">
	@foreach (string _beginDate_fieldblock in Model.GetSection("beginDate_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting beginDate"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("beginDate_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_beginDate"))
	</td>
	<td>
		@(Model.displayVar("beginDate_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("beginDate_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_endDate"))">
	@foreach (string _endDate_fieldblock in Model.GetSection("endDate_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting endDate"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("endDate_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_endDate"))
	</td>
	<td>
		@(Model.displayVar("endDate_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("endDate_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_age"))">
	@foreach (string _age_fieldblock in Model.GetSection("age_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting age"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("age_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_age"))
	</td>
	<td>
		@(Model.displayVar("age_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("age_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_sex"))">
	@foreach (string _sex_fieldblock in Model.GetSection("sex_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting sex"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("sex_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_sex"))
	</td>
	<td>
		@(Model.displayVar("sex_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("sex_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_plumage"))">
	@foreach (string _plumage_fieldblock in Model.GetSection("plumage_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting plumage"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("plumage_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_plumage"))
	</td>
	<td>
		@(Model.displayVar("plumage_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("plumage_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_subspecies"))">
	@foreach (string _subspecies_fieldblock in Model.GetSection("subspecies_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting subspecies"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("subspecies_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_subspecies"))
	</td>
	<td>
		@(Model.displayVar("subspecies_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("subspecies_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_photo"))">
	@foreach (string _photo_fieldblock in Model.GetSection("photo_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting photo"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("photo_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_photo"))
	</td>
	<td>
		@(Model.displayVar("photo_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("photo_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_video"))">
	@foreach (string _video_fieldblock in Model.GetSection("video_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting video"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("video_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_video"))
	</td>
	<td>
		@(Model.displayVar("video_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("video_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_audio"))">
	@foreach (string _audio_fieldblock in Model.GetSection("audio_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting audio"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("audio_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_audio"))
	</td>
	<td>
		@(Model.displayVar("audio_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("audio_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_comments"))">
	@foreach (string _comments_fieldblock in Model.GetSection("comments_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting comments"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("comments_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_comments"))
	</td>
	<td>
		@(Model.displayVar("comments_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("comments_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_NABReference"))">
	@foreach (string _NABReference_fieldblock in Model.GetSection("NABReference_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting NABReference"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("NABReference_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_NABReference"))
	</td>
	<td>
		@(Model.displayVar("NABReference_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("NABReference_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_hide"))">
	@foreach (string _hide_fieldblock in Model.GetSection("hide_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting hide"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("hide_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_hide"))
	</td>
	<td>
		@(Model.displayVar("hide_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("hide_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_parent_batch_number"))">
	@foreach (string _parent_batch_number_fieldblock in Model.GetSection("parent_batch_number_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting parent_batch_number"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("parent_batch_number_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_parent_batch_number"))
	</td>
	<td>
		@(Model.displayVar("parent_batch_number_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("parent_batch_number_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_published"))">
	@foreach (string _published_fieldblock in Model.GetSection("published_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting published"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("published_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_published"))
	</td>
	<td>
		@(Model.displayVar("published_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("published_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_publication"))">
	@foreach (string _publication_fieldblock in Model.GetSection("publication_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting publication"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("publication_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_publication"))
	</td>
	<td>
		@(Model.displayVar("publication_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("publication_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_votingCycle"))">
	@foreach (string _votingCycle_fieldblock in Model.GetSection("votingCycle_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting votingCycle"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("votingCycle_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_votingCycle"))
	</td>
	<td>
		@(Model.displayVar("votingCycle_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("votingCycle_editcontrol1"))&nbsp;
	</td>
}
	</tr>
	<TR class="@(Model.displayVar("fielddispclass_groupNumber"))">
	@foreach (string _groupNumber_fieldblock in Model.GetSection("groupNumber_fieldblock", this)){		
	<td>
		@(Model.displayVar("label ABC_Voting_My_Voting groupNumber"))
	</td>
	<td>
		<INPUT type="checkbox" @(Model.displayVar("groupNumber_notbox")) />
	</td>
	<td>
		@(Model.displayVar("searchtype_groupNumber"))
	</td>
	<td>
		@(Model.displayVar("groupNumber_editcontrol"))&nbsp;
	</td>
	<td>
		@(Model.displayVar("groupNumber_editcontrol1"))&nbsp;
	</td>
}
	</tr>

</table></div>


@foreach (string _searchbuttons in Model.GetSection("searchbuttons", this)){
<DIV class="rnr-brickcontents style2 rnr-b-srchbuttons @(Model.displayVar("brickclass_srchbuttons"))">@foreach (string _search_button in Model.GetSection("search_button", this)){
<A href="#" class="rnr-button main" @(Model.displayVar("searchbutton_attrs"))>Search</a>
} 
@foreach (string _reset_button in Model.GetSection("reset_button", this)){
<A href="#" class="rnr-button" @(Model.displayVar("resetbutton_attrs"))>Reset</a>
}
@foreach (string _back_button in Model.GetSection("back_button", this)){
<A href="#" class="rnr-button" @(Model.displayVar("backbutton_attrs"))>Back to list</a>
}</div>}


</div>
}

</div>


</div>
}


		</div>
		<div class="rnr-middle">
			<DIV class="rnr-left @(Model.displayVar("blockclass_left"))">
				
			</div>
			<DIV class="rnr-center @(Model.displayVar("blockclass_center"))">
				
			</div>
			<DIV class="rnr-right @(Model.displayVar("blockclass_right"))">
				
			</div>
		</div>
		<DIV class="rnr-bottom @(Model.displayVar("blockclass_bottom"))">
			
		</div>
	</div>
		
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
