@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = MVCFunctions.GetWebRootPath();
}

<DIV @(Model.displayVar("pageattrs"))>

@foreach (string _container_masterlistheader in Model.GetSection("container_masterlistheader", this)){
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<DIV class="style1 rnr-bl rnr-b-masterprintheader @(Model.displayVar("brickclass_masterprintheader"))">	<h1>@(Model.displayVar("pagetitlelabel ABC_Voting_Recirculated masterprint"))</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
}



@foreach (string _container_mastergrid in Model.GetSection("container_mastergrid", this)){



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<TR class="rnr-toprow style1 @(Model.displayVar("gridHeader_class"))">
			<TH class="@(Model.displayVar("record_class"))">@(Model.displayVar("label ABC_Voting_Recirculated record"))</th>
			<TH class="@(Model.displayVar("batch_number_class"))">@(Model.displayVar("label ABC_Voting_Recirculated batch_number"))</th>
			<TH class="@(Model.displayVar("species_class"))">@(Model.displayVar("label ABC_Voting_Recirculated species"))</th>
			<TH class="@(Model.displayVar("date_submitted_class"))">@(Model.displayVar("label ABC_Voting_Recirculated date_submitted"))</th>
			<TH class="@(Model.displayVar("date_observed_class"))">@(Model.displayVar("label ABC_Voting_Recirculated date_observed"))</th>
			<TH class="@(Model.displayVar("location_class"))">@(Model.displayVar("label ABC_Voting_Recirculated location"))</th>
			<TH class="@(Model.displayVar("url1_class"))">@(Model.displayVar("label ABC_Voting_Recirculated url1"))</th>
			<TH class="@(Model.displayVar("url2_class"))">@(Model.displayVar("label ABC_Voting_Recirculated url2"))</th>
			<TH class="@(Model.displayVar("url3_class"))">@(Model.displayVar("label ABC_Voting_Recirculated url3"))</th>
			<TH class="@(Model.displayVar("url4_class"))">@(Model.displayVar("label ABC_Voting_Recirculated url4"))</th>
			<TH class="@(Model.displayVar("secretary_comments_class"))">@(Model.displayVar("label ABC_Voting_Recirculated secretary_comments"))</th>
			<TH class="@(Model.displayVar("secretary_private_comments_class"))">@(Model.displayVar("label ABC_Voting_Recirculated secretary_private_comments"))</th>
			<TH class="@(Model.displayVar("date_approved_class"))">@(Model.displayVar("label ABC_Voting_Recirculated date_approved"))</th>
			<TH class="@(Model.displayVar("accept_class"))">@(Model.displayVar("label ABC_Voting_Recirculated accept"))</th>
			<TH class="@(Model.displayVar("nonaccept_class"))">@(Model.displayVar("label ABC_Voting_Recirculated nonaccept"))</th>
			<TH class="@(Model.displayVar("status_class"))">@(Model.displayVar("label ABC_Voting_Recirculated status"))</th>
			<TH class="@(Model.displayVar("originalObserver_class"))">@(Model.displayVar("label ABC_Voting_Recirculated originalObserver"))</th>
			<TH class="@(Model.displayVar("submittedby_class"))">@(Model.displayVar("label ABC_Voting_Recirculated submittedby"))</th>
			<TH class="@(Model.displayVar("additionalObservers_class"))">@(Model.displayVar("label ABC_Voting_Recirculated additionalObservers"))</th>
			<TH class="@(Model.displayVar("numberObserved_class"))">@(Model.displayVar("label ABC_Voting_Recirculated numberObserved"))</th>
			<TH class="@(Model.displayVar("countyCode_class"))">@(Model.displayVar("label ABC_Voting_Recirculated countyCode"))</th>
			<TH class="@(Model.displayVar("beginDate_class"))">@(Model.displayVar("label ABC_Voting_Recirculated beginDate"))</th>
			<TH class="@(Model.displayVar("endDate_class"))">@(Model.displayVar("label ABC_Voting_Recirculated endDate"))</th>
			<TH class="@(Model.displayVar("age_class"))">@(Model.displayVar("label ABC_Voting_Recirculated age"))</th>
			<TH class="@(Model.displayVar("sex_class"))">@(Model.displayVar("label ABC_Voting_Recirculated sex"))</th>
			<TH class="@(Model.displayVar("plumage_class"))">@(Model.displayVar("label ABC_Voting_Recirculated plumage"))</th>
			<TH class="@(Model.displayVar("subspecies_class"))">@(Model.displayVar("label ABC_Voting_Recirculated subspecies"))</th>
			<TH class="@(Model.displayVar("photo_class"))">@(Model.displayVar("label ABC_Voting_Recirculated photo"))</th>
			<TH class="@(Model.displayVar("video_class"))">@(Model.displayVar("label ABC_Voting_Recirculated video"))</th>
			<TH class="@(Model.displayVar("audio_class"))">@(Model.displayVar("label ABC_Voting_Recirculated audio"))</th>
			<TH class="@(Model.displayVar("comments_class"))">@(Model.displayVar("label ABC_Voting_Recirculated comments"))</th>
			<TH class="@(Model.displayVar("NABReference_class"))">@(Model.displayVar("label ABC_Voting_Recirculated NABReference"))</th>
			<TH class="@(Model.displayVar("hide_class"))">@(Model.displayVar("label ABC_Voting_Recirculated hide"))</th>
			<TH class="@(Model.displayVar("parent_batch_number_class"))">@(Model.displayVar("label ABC_Voting_Recirculated parent_batch_number"))</th>
			<TH class="@(Model.displayVar("published_class"))">@(Model.displayVar("label ABC_Voting_Recirculated published"))</th>
			<TH class="@(Model.displayVar("publication_class"))">@(Model.displayVar("label ABC_Voting_Recirculated publication"))</th>
			<TH class="@(Model.displayVar("votingCycle_class"))">@(Model.displayVar("label ABC_Voting_Recirculated votingCycle"))</th>
			<TH class="@(Model.displayVar("groupNumber_class"))">@(Model.displayVar("label ABC_Voting_Recirculated groupNumber"))</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<TD class="@(Model.displayVar("record_class"))">@(Model.displayVar("record_mastervalue"))</td>
			<TD class="@(Model.displayVar("batch_number_class"))">@(Model.displayVar("batch_number_mastervalue"))</td>
			<TD class="@(Model.displayVar("species_class"))">@(Model.displayVar("species_mastervalue"))</td>
			<TD class="@(Model.displayVar("date_submitted_class"))">@(Model.displayVar("date_submitted_mastervalue"))</td>
			<TD class="@(Model.displayVar("date_observed_class"))">@(Model.displayVar("date_observed_mastervalue"))</td>
			<TD class="@(Model.displayVar("location_class"))">@(Model.displayVar("location_mastervalue"))</td>
			<TD class="@(Model.displayVar("url1_class"))">@(Model.displayVar("url1_mastervalue"))</td>
			<TD class="@(Model.displayVar("url2_class"))">@(Model.displayVar("url2_mastervalue"))</td>
			<TD class="@(Model.displayVar("url3_class"))">@(Model.displayVar("url3_mastervalue"))</td>
			<TD class="@(Model.displayVar("url4_class"))">@(Model.displayVar("url4_mastervalue"))</td>
			<TD class="@(Model.displayVar("secretary_comments_class"))">@(Model.displayVar("secretary_comments_mastervalue"))</td>
			<TD class="@(Model.displayVar("secretary_private_comments_class"))">@(Model.displayVar("secretary_private_comments_mastervalue"))</td>
			<TD class="@(Model.displayVar("date_approved_class"))">@(Model.displayVar("date_approved_mastervalue"))</td>
			<TD class="@(Model.displayVar("accept_class"))">@(Model.displayVar("accept_mastervalue"))</td>
			<TD class="@(Model.displayVar("nonaccept_class"))">@(Model.displayVar("nonaccept_mastervalue"))</td>
			<TD class="@(Model.displayVar("status_class"))">@(Model.displayVar("status_mastervalue"))</td>
			<TD class="@(Model.displayVar("originalObserver_class"))">@(Model.displayVar("originalObserver_mastervalue"))</td>
			<TD class="@(Model.displayVar("submittedby_class"))">@(Model.displayVar("submittedby_mastervalue"))</td>
			<TD class="@(Model.displayVar("additionalObservers_class"))">@(Model.displayVar("additionalObservers_mastervalue"))</td>
			<TD class="@(Model.displayVar("numberObserved_class"))">@(Model.displayVar("numberObserved_mastervalue"))</td>
			<TD class="@(Model.displayVar("countyCode_class"))">@(Model.displayVar("countyCode_mastervalue"))</td>
			<TD class="@(Model.displayVar("beginDate_class"))">@(Model.displayVar("beginDate_mastervalue"))</td>
			<TD class="@(Model.displayVar("endDate_class"))">@(Model.displayVar("endDate_mastervalue"))</td>
			<TD class="@(Model.displayVar("age_class"))">@(Model.displayVar("age_mastervalue"))</td>
			<TD class="@(Model.displayVar("sex_class"))">@(Model.displayVar("sex_mastervalue"))</td>
			<TD class="@(Model.displayVar("plumage_class"))">@(Model.displayVar("plumage_mastervalue"))</td>
			<TD class="@(Model.displayVar("subspecies_class"))">@(Model.displayVar("subspecies_mastervalue"))</td>
			<TD class="@(Model.displayVar("photo_class"))">@(Model.displayVar("photo_mastervalue"))</td>
			<TD class="@(Model.displayVar("video_class"))">@(Model.displayVar("video_mastervalue"))</td>
			<TD class="@(Model.displayVar("audio_class"))">@(Model.displayVar("audio_mastervalue"))</td>
			<TD class="@(Model.displayVar("comments_class"))">@(Model.displayVar("comments_mastervalue"))</td>
			<TD class="@(Model.displayVar("NABReference_class"))">@(Model.displayVar("NABReference_mastervalue"))</td>
			<TD class="@(Model.displayVar("hide_class"))">@(Model.displayVar("hide_mastervalue"))</td>
			<TD class="@(Model.displayVar("parent_batch_number_class"))">@(Model.displayVar("parent_batch_number_mastervalue"))</td>
			<TD class="@(Model.displayVar("published_class"))">@(Model.displayVar("published_mastervalue"))</td>
			<TD class="@(Model.displayVar("publication_class"))">@(Model.displayVar("publication_mastervalue"))</td>
			<TD class="@(Model.displayVar("votingCycle_class"))">@(Model.displayVar("votingCycle_mastervalue"))</td>
			<TD class="@(Model.displayVar("groupNumber_class"))">@(Model.displayVar("groupNumber_mastervalue"))</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




}

</div>